*{
    box-sizing: border-box;
}

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
}

.gap {
    height: 5px;
}

body {
    background-color: silver;
    font-family: 'Caveat', cursive;
    color: #042525
    /* font-family: 'Inter', sans-serif; */
}
.gamewrapper {
    display: grid;
    grid-template-columns: 650px 150px;
    width: 820px;
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
} 

.gameboard {
    width: 650px;
    height: 450px;
    background-color: #d8c17a;
}

.finishline {
    position: relative;
    height: 450px;
    width: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    left: 0px;
    z-index: 9;
}

.safezone {
    position: relative;
    width: 150px;
    height: 450px;
    z-index: 1;
    background-color: #d1b665;
}
.doll {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    right: 10px;
    top: 40%;
    background-color: green;
    border-radius: 50%;
    z-index: 2;

        -webkit-animation:spin 4s linear;
        -moz-animation:spin 4s linear ;
        animation:spin 4s linear ;

        animation-iteration-count: infinite;
        
        /* Assign these when needed  */
        animation-play-state: running;
        animation-play-state: paused;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }


.lefteye {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 20px 20px 40px 50px;
    border-radius: 50%;
    background-color: black;
}
.righteye {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 30px 20px 20px 50px;
    border-radius: 50%;
    background-color: black;
}

.countdown {
    font-size: 2em;
    text-align: center;
}

.playerid {
    font-size: 2em;
    text-align: center;
}

.instructions {
    font-size: 2em;
    text-align: center;
}

.buttons {
    text-align: center;

}

.resetButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #0A5656;
	padding: 12px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.resetButton:hover {
    background: #f44789bf;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: #f44789bf;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.refreshButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #0A5656;
	padding: 12px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.refreshButton:hover {
    background: #f44789bf;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: #f44789bf;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.startButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #0A5656;
	padding: 12px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.startButton:hover {
    background: #f44789bf;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: #f44789bf;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
